{% extends 'base.html.twig' %}

{% block title %}New PlaylistHasSong{% endblock %}

{% block body %}
    <h1>Create new PlaylistHasSong</h1>

    {{ include('playlist_has_song/_form.html.twig') }}

    <a href="{{ path('app_playlist_has_song_index') }}">back to list</a>
{% endblock %}
